div{
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 10vh;
	left: 10vw;
    background-color: red;
   
}  

@media screen and (min-width: 901px) {
	div {
		background-color: orange;
	}

	p.grande {
		visibility: visible;
	}

	p.media {
		visibility: hidden;
	}

	p.pequena {
		visibility: hidden;
	}
}

@media screen and (max-width: 900px) and (min-width: 600px) {
	div {
		background-color: green;
	}

	p.grande {
		visibility: hidden;
	}

	p.media {
		visibility: visible;
	}

	p.pequena {
		visibility: hidden;
	}
}

@media screen and (max-width: 600px) {
	div {
		background-color: purple;
	}

	p.grande {
		visibility: hidden;
	}

	p.media {
		visibility: hidden;
	}

	p.pequena {
		visibility: visible;
	}
}

@media print{
    div {
        background-color: black;
    }
}
